@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-color: #fbe6c2;
    text-align: center;
}

h1 {
    color: #f48b29;
}

.visible-boxes,
.invisible-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    transition: all 500ms linear;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftDirection {
    transform: translateX(calc(-100vw));
    transition: transform 500ms linear;
}

.rightDirection {
    transform: translateX(calc(100vw));
    transition: transform 500ms linear;
}
